In [4]:
l=[1,2,3,4]
print(l)
l.pop()
print(l)
l.remove(2)
print(l)
l.sort(reverse=True)
print(l)
t=(3,4,5,6,3)
print(t.count(3))
print(t.index(3))

[1, 2, 3, 4]
[1, 2, 3]
[1, 3]
[3, 1]
2
0

In [23]:
d={"abc":34354,"xyz":[54545,87657],"lmn":98458}
print(d)
for i in d.keys():
    if i=="abc":
       re=d[i]
if re>0:
    print(re)

{'abc': 34354, 'xyz': [54545, 87657], 'lmn': 98458}
34354

#use case of truecaller app when we give a name their phone number will be displayed

In [31]:
n=7
if None:#cant enter loop(None,0,-1(not wrking))
    print("inside loop")
print("outside loop")

inside loop
outside loop

In [33]:
a=90
if a>=60:
    if a>=90:
        print("scored above 90 fc")
    else:
        print("less than 90 sc")
else:
    print("fail")

scored above 90 fc

In [34]:
a=45
if a>=3 and a<=22:
    print("studying")
elif a>=23 and a<=60:
    print("working")
else:
    print("retired")

working

In [41]:
p=2
for i in range(10,60,10):
    p*=i    
print(p)
l=[10,20,30,40,50]
pr=2
for i in l:
    pr*=i
print(pr)

24000000
24000000

In [46]:
def cp(n):
    if n==0 or n==1:
        return False
    else:
        for i in range(2,n//2+1):
            if n%i==0:
                return False
    return True
for i in range(0,10):
    if cp(i)==True:
        print(i)

2
3
5
7

In [6]:
for i in range(11):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

#using continue statements to print only odd numbers

In [5]:
for i in range(100):
    if i==10:
        break
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [7]:
a=[14,43,11,67,98]
a.sort(reverse=True)
print("Top three scores")
for i in range(len(a)):
    if i==3:
        break
    print(a[i],end=" ")

Top three scores
98 67 43

#using break statement to print top three scores from a list of scores

In [22]:
a=[1,3,4,2,4,5]
a.sort()
print("sorted list",a)
a.pop()
print("remove last element",a)
a.pop(0)
print("remove by index",a)
a.remove(3)
print("remove by value",a)
a.append(5)
print(a)
a.append([6,7])
print(a)
a.extend([6,7])
print(a)
print("count of an element",a.count(4))

sorted list [1, 2, 3, 4, 4, 5]
remove last element [1, 2, 3, 4, 4]
remove by index [2, 3, 4, 4]
remove by value [2, 4, 4]
[2, 4, 4, 5]
[2, 4, 4, 5, [6, 7]]
[2, 4, 4, 5, [6, 7], 6, 7]
count of an element 2

In [17]:
a=[1,2,3]
b=a
c=[]
c+=a
d=[]
d=d+a
b.append(4)
print(a)
print(b)
print(c)
print(d)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2, 3]

In [21]:
s="Hi i am john"
print(s.split())
s1="Hi,i,am,john ken"
print(s1.split(","))
print(s[0:2])
print(s[-4:])

['Hi', 'i', 'am', 'john']
['Hi', 'i', 'am', 'john ken']
Hi
john

In [30]:
print([i**2 for i in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
m=[[1,2,3,4],
   [5,6,7,8],
   [9,10,11,12]
  ]
re=[]
for i in range(len(m[0])):
    r=[]
    for j in range(len(m)):
        r.append(m[j][i])
    re.append(r)
print(re)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

#matrix transposing without a function

In [38]:
t=(1,2,(3,4),["hi","abc"])
print(t[0])
print(t[2][0])
print(t[-1][1])

1
3
abc

In [60]:
t=(1,2,(3,4),["hi","abc"])
#t[0]=5  typeerror
t[3][1]="xyz"
print(t)
t[3].append("hwru")
print(t)
del(t[3][2]) #del(t[3]) will not work
print(t)
del t#deletes entire tuple only

(1, 2, (3, 4), ['hi', 'xyz'])
(1, 2, (3, 4), ['hi', 'xyz', 'hwru'])
(1, 2, (3, 4), ['hi', 'xyz'])

In [66]:
t=(1,2,(3,4),["hi","abc"])
print(t,type(t))
for i in t:
    print(i,type(i))

(1, 2, (3, 4), ['hi', 'abc']) <class 'tuple'>
1 <class 'int'>
2 <class 'int'>
(3, 4) <class 'tuple'>
['hi', 'abc'] <class 'list'>

In [61]:
import math as m
print(m.factorial(5))

120

In [77]:
import statistics as s
print(s.mean((1,2,3,4,5,6)))
print(s.mode((1,2,2,3,4,5,6)))
print(s.median((1,2,3,4,5,6)))

3.5
2
3.5

In [83]:
import copy
l=[1,2,3,4]
l1=[]
l1=l
l3=[]
l3=l1.copy()
print(id(l1))#address
print(id(l))
print(id(l3))

2024677182016
2024677182016
2024677178048

In [98]:
#be default set is sorted
a={1,2,9,6,4,2,7}
print(a)
a.add(4)#no error but while printing it will not add
a.add(8)
a.update([4,5])#extend
print(a)
#a.remove(10)#raiseerror if the value is not there
a.discard(10)#no error if the value is not there handles exception
v=a.pop()
print(v)
v2=a.pop()
print(v2)
#in set pop() will remove random element because set is unordered

{1, 2, 4, 6, 7, 9}
{1, 2, 4, 5, 6, 7, 8, 9}
1
2
{4, 5, 6, 7, 8, 9}

In [99]:
b={8,5,3,7}
print(b)
temp=b.pop()
print(b)
b.add(temp)
print(b)

{8, 3, 5, 7}
{3, 5, 7}
{8, 3, 5, 7}

#reassigning the deleted value

In [103]:
#set operations
s1={1,2,3,4,7,8}
s2={2,3,4,9,10}
print(s1 | s2) #s1.union(s2)
print(s1 & s2) #s1.intersection(s2)
print(s1 - s2) #s1.difference(s2)
print(s1 ^ s2) #s1.symmetric_difference(s2))
print({2,3}.issubset(s2))

{1, 2, 3, 4, 7, 8, 9, 10}
{2, 3, 4}
{8, 1, 7}
{1, 7, 8, 9, 10}
True

In [107]:
#frozenset means set becomes immutable like tuple
s3=frozenset([2,9,3,8])
print(s3)
#s3.add(5)#error

frozenset({8, 9, 2, 3})

In [113]:
#dictionary
d={"a":1,"b":2}
print(d)
d1=dict([("a",1),("b",2)])
print(d1)
d2={"a":1,"b":2,"a":2}#last value will be updated
print(d2)
d3={"a":[1,2],"b":3}
print(d3.get("a"))
print(d3.get("c"))#will not raise error
print(d3.get("c",0))#setting a default value if value is not there

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}
{'a': 2, 'b': 2}
[1, 2]
None
0

In [122]:
d4={"a":1,"b":2}
d4["c"]=3
print(d4)
d4.pop("a")#need a key
d4.popitem()#removes lifo order last element
print(d4)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2}

In [124]:
d5={"a":1,"b":2}
del(d5["a"])
print(d5)
d5.clear()#deletes all values and makes it empty
print(d5)
del d5#deletes all

{'b': 2}
{}

In [127]:
new=dict.fromkeys(["a","b","c","d"],0)#one value for different keys
print(new)
print(new.items())
print(new.keys())
print(new.values())
for i in new.keys():
    print(i,end=" ")

{'a': 0, 'b': 0, 'c': 0, 'd': 0}
dict_items([('a', 0), ('b', 0), ('c', 0), ('d', 0)])
dict_keys(['a', 'b', 'c', 'd'])
dict_values([0, 0, 0, 0])
a b c d

In [129]:
#to know all functions of a list,tuple,dict or set
a={}
print(dir(a))
b=[]
print("\n")
print(dir(b))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']


['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [130]:
a1={1:10,2:20,3:23,4:40}
a2={k:v for k,v in a1.items() if v%2==0 }
print(a2)

{1: 10, 2: 20, 4: 40}